@import "./variables.scss";
@import "./mixins.scss";
@import "./reset.scss";

.scroll {
  position: relative;
  height: 100%;
  overflow: hidden;
  &:hover {
    .bscroll-vertical-scrollbar {
      visibility: visible;
    }
  }
}

/* fade */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.28s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

/* fade-transform */
.fade-transform-leave-active,
.fade-transform-enter-active {
  transition: all .2s;
}

.fade-transform-enter {
  opacity: 0;
   transform: translateX(-20px);
}

.fade-transform-leave-to {
  opacity: 0;
   transform: translateX(20px);
}

.el-message-box__wrapper {
  z-index: 9999 !important;
}

.lottery-select-dropdown.el-select__popper {
  background: rgba(138, 9, 0, 0.6) !important;
  border: none !important;
  user-select: none;
  .el-select-dropdown__list {
    padding: 2px 0;
  }
  .el-select-dropdown__item {
    color: #e0c35be6 !important;
    &:hover, &.hover {
      background: #bf752e !important;
    }
  }
  .el-popper__arrow {
    border-top-color: rgba(138, 9, 0, 0.6) !important;
    border-bottom-color: rgba(138, 9, 0, 0.6) !important;
    &:before {
      top: -6px;
      background: transparent !important;
      width: 0 !important;
      height: 0 !important;
      transform: rotate(0deg) !important;
      border-width: 6px !important;
      border-top-color: transparent !important;
      border-bottom-color: rgba(138, 9, 0, 0.6) !important;
      border-right-color: transparent !important;
      border-left-color: transparent !important;
    }
  }
}
.el-dropdown__popper {
  background: transparent !important;
  border: none !important;
  margin-top: -5px !important;
}
.awards-dropdown-menu, .reset-awards-dropdown-menu {
  background: rgba(255, 255, 255, .6);
  border: none;
  .el-dropdown-menu__item {
    color: #650718;
    &:focus {
      background: transparent;
    }
    &:hover {
      background: #e0d0d080;
      color: #bd2c89;
    }
  }
  .popper__arrow {
    border-bottom-color: rgba(255, 255, 255, .6) !important;
   &::after {
     border-bottom-color: rgba(255, 255, 255, 0) !important;
   }
  }
  &+.el-popper__arrow {
    border-top-color: rgba(255, 255, 255, .6) !important;
    border-bottom-color: rgba(255, 255, 255, .6) !important;
    &:before {
      top: -7px;
      background: transparent !important;
      width: 0 !important;
      height: 0 !important;
      transform: rotate(0deg) !important;
      border-width: 6px !important;
      border-top-color: transparent !important;
      border-bottom-color: rgba(255, 255, 255, .6) !important;
      border-right-color: transparent !important;
      border-left-color: transparent !important;
    }
  }
}
