@import "./variables.scss";

@mixin bg-image($url) {
  background-image: url($url + "@2x.png");
  @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
    background-image: url($url + "@3x.png");
  }
}

@mixin fh($size){
  font-size: $size;
  height: $size;
  line-height: $size;
}

@mixin mlEllipsis($line) {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
  text-overflow:ellipsis;
  word-wrap: break-word;
  word-break: break-all;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.clearfix {
  &:after {
    display: table;
    content: '';
    clear: both;
  }
}
